<h1>Salut ! Merci de confirmer votre inscription!</h1>

<p>
    Pour confirmer votre inscription à Sortir.com, il vous suffir de cliquer sur le lien ci-dessous: <br><br>
</p>
<p>Votre email de connexion : {{ user.email }}</p>
<p>Votre password : {{ password }}</p>
{#<a href="{{ signedUrl|raw }}">Confirmer</a>.#}
<a href="http://localhost/sortir.com/public/user/modifier">Accéder</a>
{#<p>#}
{#Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.#}
{#</p>#}

<p>
    A tout de suite !
</p>
