<h1>Salut ! Merci de confirmer votre adresse email!</h1>

<p>
    Pour confirmer votre adresse email, il vous suffir de cliquer sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
