body {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url("../images/divers/backgroung-admin.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

.container {
    width: 100%;
}

.div1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 50px;
}

.div2 {
    margin: 40px;
}

.div3 {
  margin: 40px;
}

.section {
    font-family: 'Ruluko', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.form-control {
    width: 200px;
    margin-right: 20px;
}

#rechVille {
    margin-right: 20px;
}

.inputRechercherCampus {
    margin-right: 20px;
}

.btnRechercherVille, .btnRechercherCampus, .btnRechercherUtilisateur {
    margin-right: 20px;
}

#back {
    color: #AAAAAA;
    height: 20px;
}

