{% extends 'base.html.twig' %}

{% block title %}Annuler la sortie{% endblock %}

{% block styleSheets %}{% endblock %}

{% block body %}

    <div class="container pt-3 pb-5">
        <div class="row">
            <div class="col">
                <div class="row pt-4 pb-4">
                    <h3>Dommage, certains participants attendez cette sortie avec impatience</h3>
                </div>
                {{ form_start(raisonAnnulationForm) }}
                <div class="row justify-content-center">
                    {{ form_row(raisonAnnulationForm.raisonAnnulation, {'attr': {'placeholder': 'Indiquez la raison de l\'annulation'}}) }}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Confirmer l'annulation</button>
                    </div>
                </div>
                {{ form_end(raisonAnnulationForm) }}
            </div>
        </div>
    </div>

{% endblock %}

