<h1>Bonjour {{ user.prenom }}</h1>

<p>Nous avons le regret de vous informer que la sortie {{ sortie.nom }} a été annulé par {{ userAOrigineDeAnnulation.nom }}</p>
<br><br>
<p>Voici son explication</p>
<p>{{ raisonAnnulation }}</p>
<br>
<p>Pas grave, organisez votre propre sortie en cliquant</p><a href="http://localhost/sortir.com/public/sortie/create">ICI</a>

<p>A tout de suite !</p>
